
				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; {{ .Site.Params.copyright }}</p>
					</footer>

			</div>
		<!-- BG Cables -->
			<script type="text/javascript" src="js/libs.core.min.js"></script>
			<script type="text/javascript" src="js/cables.min.js"></script>
			<script type="text/javascript"  src="js/moment.js"></script>
			<script type="text/javascript" src="js/ops.js"></script>
			
			<script>
				function showError(errId, errMsg) {}
				function patchInitialized() {}
				function patchFinishedLoading() {}
		
				document.addEventListener('DOMContentLoaded', function(event) {
					CABLES.patch = new CABLES.Patch({
						patchFile: 'js/anomaly.json',
						prefixAssetPath: '',
						glCanvasId: 'glcanvas',
						glCanvasResizeToWindow: true,
						onError: showError,
						onPatchLoaded: patchInitialized,
						onFinishedLoading: patchFinishedLoading,
					});
				});
			</script>

		<!-- Scripts -->
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>
			{{ template "_internal/google_analytics_async.html" . }}

	</body>
</html>
